:root{
    --950:#262626;
    --600:#5d5d5d;

}
*{
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: balance;
}
html{
    scroll-behavior: smooth;
    background: #18181b;
}
body{
    background: linear-gradient(90deg,#18181b,#18181b,#262626,#18181b,#18181b);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    place-items: center;
    margin: 0px;
    padding: 0px;
}
.header{
    background: linear-gradient(90deg,#e32fff,#2fd2ff);
    padding: 2px;
    box-shadow: -40vw 1px 50px 4px #e32fff9c,
    40vw 1px 50px 4px #2fd2ff89;
    max-height: 67px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 30;
    height: 67px;
    max-height: 67px;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: end;
    flex-flow: nowrap;
    height: 63px;
    max-height: 63px;
    background: linear-gradient(90deg,rgb(32, 5, 46),#07212e);
}
nav a{
    color: var(#2fd2ff);
    background: linear-gradient(90deg, #e32fff, #2fd2ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800; 
    text-decoration: none;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box; 
    transition: 0.2s;
}
nav a:hover{
    color: var(#2fd2ff);
    background: linear-gradient(90deg, #e32fff, #2fd2ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800; 
    border: 0px solid;
    text-shadow: 0px -3px 10px #e32fff,0px 3px 10px #2fd2ff;
}
.buttonMenuMobil{
    display: none;
}
main{
    margin-right: 10vw;
    margin-left: 10vw;
}
h1{
    font-size: 60px;
    font-family: cursive;
    font-style: italic;
    color: rgb(26, 18, 64);
    text-shadow: 0px -3px 5px #e32fff,0px 3px 1px #2fd2ff;
}


h3{
    color: #2fd2ff;
    background: var(--950);
    border-left: 2px solid #e32fff;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    width: fit-content;
    margin: 0px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 15px -5px #e32fff;
    text-shadow: 1px 1px 10px #2fd2ff;
}
textGrad{
    color: #2fd2ff;
    text-shadow: 1px 1px 20px #2fd2ff;
}
.topTitle textgrad{
    display: block;
    font-size: 25px;
}

.iconsContact{
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}
.iconsContact a{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconsContact span{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconContact{
    position: relative;
    color: #2fd2ff;
}
.iconContact:hover{
    position: absolute;
    height: 45px;
    width: 45px;
    transition: 0.2s;
    color: #e32fff;

}

.divh2{
    color: #e32fff;
    background: var(--950);
    padding: 10px;
    border-left: 5px solid #2fd2ff;
    border-radius: 10px;      
    margin: 0px;
    margin-right: 10px;
    min-width: 170px;
    box-shadow: 0px 0px 15px 0px #2fd2ff;
    text-shadow: 1px 1px 10px #e32fff;
    /*width: 240px;*/
    min-width: 190px;
    max-width: 190px;
    flex-direction: column;
    display: flex;
}
.divh2 h2{
    position: sticky;
    top: 75px;
}
.titleOption{
    background: transparent; 
    border: 0px; 
    color: inherit; 
    font-size: inherit; 
    text-shadow: inherit;
    position: sticky;
    top: 70px;
}
.titleOption:nth-child(2){
    top: 140px;
}
.titleOption.checked{
    color: inherit; 
}
.titleOption.unchecked{
    color: #631870; 
    text-shadow: none;
    font-weight: 900;
}
.personalArticle{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}
.personalArticle p{
    background: var(--950);
    padding: 20px;
    border: 1px solid #e32fff;
    border-radius: 10px;
    width: 48%;
    text-wrap: pretty;
    box-shadow: 0px 0px 20px #e32fff;
}

.section{
    display: flex;
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    box-sizing: content-box; 
}
.jobCondition{
    flex:1;
}
.activeJob{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    position: relative;
    min-height: 40px;
    border: 1px solid #474748;
}
.activeJob:hover{
    background: var(--950);
    box-shadow: 0px 0px 10px 0px #2fd2ff;
}
.activeJob:nth-child(odd):hover{
    background: var(--950);
    box-shadow: 0px 0px 10px 0px #e32fff;
}
.activeJob h4{
    text-decoration: underline #2fd2ff;
    margin: 5px;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 20px;
}
.activeJob details{
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}

.activeJob .title{
    text-decoration: underline #2fd2ff;
    font-size: 20px;
}
.activeJob:nth-child(odd) .title{
    text-decoration: underline #e32fff;
}
.activeJob .title::marker{
    color: #2fd2ff;
}
.activeJob:nth-child(odd) .title::marker{
    color: #e32fff;
}
.activeJob .iconJob{
    position: absolute;
    top: 0px;
    left: -15px;
    border-radius: 70px;
    border: 1px solid #2fd2ff;
}
.activeJob:nth-child(odd) .iconJob{
    border: 1px solid #e32fff;
}

.activeJob a{
    color: #2fd2ff;
}
.activeJob:nth-child(odd) a{
    color: #e32fff;
}
.containerIconsTechs{
    background: #2fd2ff54;
    box-shadow: 0px 0px 30px 0px #2fd2ff54;
    border-radius: 10px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.containerIconsTechs .iconTech{
    background: rgba(255, 255, 255, 0.4);
    border-radius:15px;
    padding:2px;
    margin: 0px;
}
.activeJob:nth-child(odd) .containerIconsTechs{
    background: #e32fff54;
    box-shadow: 0px 0px 30px 0px #e32fff54;
}
.inactiveJob:nth-child(odd) .containerIconsTechs{
    background: #e32fff54;
    box-shadow: 0px 0px 30px 0px #e32fff54;
}
.inactiveJob{    
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    position: relative;
    min-height: 40px;
    border: 1px solid #474748;
}
.inactiveJob:hover{
    background: var(--950);
}
.inactiveJob h4{
    text-decoration: underline var(--600);
}
.inactiveJob details{
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}
.inactiveJob .title{
    text-decoration: underline var(--600);
    font-size: 20px;
}
.inactiveJob .title::marker{
    color: var(--600);
}
.tableTimeline{
    display: flex;
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.timeline{
    border-left: 3px solid grey;
    margin-left: 110px;
    flex:1;
}
.stage{
    position: relative;
}
.time{
    position: absolute;
    left: -120px;
    width: 110px;
    display: flex;
    flex-direction: row-reverse;
}
.item{
    width: 10px;
    height: 10px;
    background-color: #2fd2ff;
    box-shadow: 0px 0px 10px 0px #2fd2ff;
    border-radius: 10px;
    position: absolute;
    left: -6px;
    top: 4px;
}
.item2{
    width: 10px;
    height: 10px;
    background-color: #e32fff;
    box-shadow: 0px 0px 10px 0px #e32fff;
    border-radius: 10px;
    position: absolute;
    left: -6px;
    top: 4px;
}
.data{
    color:#ee80ff;
    margin:20px;
    margin-left: 10px;
    border-left: 2px solid #e32fff;
    border-right: 2px solid #e32fff;
    box-shadow: -12px 0px 10px -10px #e32fff,
        12px 0px 10px -10px #e32fff;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
}
.data2{
    color:#2fd2ff;
    margin:20px;
    margin-left: 10px;
    border-left: 2px solid #2fd2ff;
    border-right: 2px solid #2fd2ff;
    box-shadow: -12px 0px 10px -10px #2fd2ff,
        12px 0px 10px -10px #2fd2ff;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
}
.data p{
    margin: 0px;
}


.navProjects{
    width: 100%;
    height: 50px;
    display: flex;
    background: #18181b;
    
}
.navProjects .contentButton{
    flex:1;
    background: var(--950);
    border: 0px;
    font-weight: 600;
    position: relative;
    font-size: 15px;
    transition: 0.2s linear;
}
.navProjects .contentButton button{
    border: 0px;
    border-left: 2px solid #6c1679;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #6c1679;
    background: var(--950);
    font-weight: 600;
    position: relative;
    font-size: 15px;
    transition: 0.2s linear;
    width: 100%;
    height: 100%;
}

.navProjects .contentButton:nth-child(even) button{
    border-left: 2px solid #145364;
    color: #145364;
}


.navProjects .contentButton:nth-child(odd) button:hover{
    background: var(--950);
    text-shadow: 0px 0px 10px #e32fff;
    color: #e32fff;
}
.navProjects .contentButton:nth-child(even) button:hover{
    background: var(--950);
    text-shadow: 0px 0px 10px #2fd2ff;
    color: #2fd2ff;
}
.navProjects .contentButton:nth-child(odd) button.active{
    text-shadow: 0px 0px 10px #e32fff;
    color: #e32fff;
    border-left: 2px solid #e32fff;
    box-shadow: -10px 0px 10px -10px #e32fff;
}
.navProjects .contentButton:nth-child(even) button.active{
    text-shadow: 0px 0px 10px #2fd2ff;
    color: #2fd2ff;
    border-left: 2px solid #2fd2ff;
    box-shadow: -10px 0px 10px -10px #2fd2ff;
}

.containerProjects{
    width: 100%; 
    height: 100%;
    /*margin: 30px;*/
    margin-top: 30px;
    /*display: flex;
    flex-flow: wrap;
    justify-content: center;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define el ancho de las columnas */
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); /* Define el ancho de las columnas */
    grid-auto-rows: 300px; /* Define la altura de las filas */
    grid-auto-flow: dense; /* Permite reorganizar automáticamente los elementos */
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
}
.project{
    width: 275px; 
    height: 275px;
    background: rgb(61, 54, 54);
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    border: 1px solid #2fd2ff;
    box-shadow: 0px 0px 100px -60px #2fd2ff;
}
.project:nth-child(even){
    border: 1px solid #e32fff;
    box-shadow: 0px 0px 100px -60px #e32fff;
}
.project .title{
    width: 100%;
    text-align: center;
    background: #29c0ea;
    color: #000;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 10px 0px #2fd2ff;
    position: relative;
    z-index: 10;
}
.project .image{
    background: rgb(61, 54, 54);
    /*padding-top: 10px;*/
    height: 222px;
    text-align-last: center;
    position: relative;
    z-index: 10;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.project.Mobil .image{
    height: 608px;
}
.project .image .imgH{
    /*height: 200px;*/
    width: 95%;
    height: 95%;
}
.project .image .imgW{
    width: 95%;
    padding: 0px;
}
.project .footer{
    position: absolute;
    bottom: 0px;
    background: #1c3b44ef;
    color: white;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    transition: 0.35s linear;
    height: 30px;
    overflow: hidden;  
    z-index: 10;
}
.project:hover .footer{
    height: 70%;
    z-index: 10;
}
.project .footer p{
    margin: 0px;
}

.project:nth-child(even) .title{
    width: 100%;
    text-align: center;
    background: #bf29d6;
    color: #000;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 10px 0px #e32fff;
}
.project:nth-child(even) .footer{
    position: absolute;
    bottom: 0px;
    background: #2d1b30d9;
    color: white;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    transition: 0.35s linear;
    height: 30px;
    overflow: hidden;    
}
.project:nth-child(even):hover .footer{
    height: 70%;
}
.project .tecs{
    position: absolute;
    top: 5%;
    left: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    
    background:var(--950);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 80px;
    height: 90%;
    padding: 10px;
    
    transition: 0.55s;
}
.project:hover .tecs{
    left: -60px;
    box-shadow: 0px 0px 10px 0px #2fd2ff;
    border: 1px solid #2fd2ff;
}
.project:nth-child(even):hover .tecs{
    left: -60px;
    box-shadow: 0px 0px 10px 0px #e32fff;
    border: 1px solid #e32fff;
}
.iconTech{
    color:#2fd2ff;
    margin-top: 5px;
}
.project:nth-child(even) .iconTech{
    color:#e32fff;
}
.project.Mobil{
    height: 660px;
    grid-row: span 2;
}
.project.Mobil .img{
    /*margin-top: 10px;*/
    height: 550px;
    text-align-last: center;
}
.project.Mobil .image .img{
    height: 550px;
    width: 98%;
    height: 95%;
}
.project.Mobil .image .icon{
    position: absolute;
    right: -10px;
    top: 40px;
    height: 80px;
    
    background-color: var(--950);
    border-radius: 30%;
    padding: 10px;
    border: 2px solid #2fd2ff;
    box-shadow: 0px 0px 10px 0px #2fd2ff;
}
.project:nth-child(even).Mobil .image .icon{
    border: 2px solid #e32fff;
    box-shadow: 0px 0px 10px 0px #e32fff;
}
.project .iconMoreInfo{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
    color:#0f4756;
    height: 0px;
    transition: 0.45s;
}
.project:nth-child(even) .iconMoreInfo{
    color:#4b1454;
}
.project:hover .iconMoreInfo{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
    height: 30px;
}


dialog{
    width: 100vw;
    height: 100vh;
    border: 0px;
    background: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    max-height: 100vh;
}
dialog::backdrop{
    background: rgba(0, 0, 0, 0.6);
}
dialog div{
    position: relative;
    top: calc(50vh - 25vh);
    left: calc(50vh - 40vh);
    width: 80vw;
    height: 50vh;
    background: var(--950);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #2fd2ff;
    border-radius: 1vw;

    box-shadow: 40px -40px 80px -50px #2fd2ff,
        -40px 40px 80px -50px #e32fff;
    
}
dialog h1{
    margin: 0px;
    font-size: 20px;
    color: #2fd2ff;
    text-shadow: 2px -2px 5px #e32fff, 1px 2px 1px #2297b7;
}
dialog h2{
    color: rgb(198, 198, 198);
    font-size: 16px;
    margin: 5px;
    text-decoration: underline;
}
dialog p{
    color: rgb(147, 147, 147);
    font-size: 15px;
    
}
dialog p.line{
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid rgb(198, 198, 198);
}
dialog button{
    position: absolute;
    top: -10px;
    right: -10px;

    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 25px;
    font-weight: 600;
    color: var(--950);
    background: var(--600);
    border: 4px solid var(--950)
}
dialog button:focus-visible{
    outline: 0px;
}
dialog button:hover{
    color: #00d9ff;
    text-shadow: 0px 0px 10px #00d9ff;
}
dialog .linkProject{
    position: absolute;
    bottom: -31px;
    left: 20px;
    background: #1d1d1d;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid #2fd2ff;
    color: #e32fff;
}
dialog .linkProject:focus-visible{
    outline: 0px;
}

.hide{
    display: none;
}
.show{
    display: initial;
}
.infoTools{
    background: var(--950);
    padding: 20px;
    border: 1px solid #e32fff;
    border-radius: 10px;
    width: 96%;
    text-wrap: pretty;
    box-shadow: 0px 0px 20px #e32fff;
    text-align: center;
}
.articleTool{
    width: 94%;
    margin: 3%;
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articleTool:nth-child(odd){
    border: 2px solid #2fd2ff;
    box-shadow: 0px 0px 20px #2fd2ff;
}
.articleTool:nth-child(even){
    border: 2px solid #e32fff;
    box-shadow: 0px 0px 20px #e32fff;
}
.articleTool h3{
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    
}
.articleTool:nth-child(odd) h3{
    color: #e32fff;
    text-shadow: 1px 1px 10px #e32fff;
    border: 2px solid #2fd2ff;
    box-shadow: 5px 5px 15px -5px #2fd2ff;
}
.articleTool:nth-child(even) h3{
    color: #2fd2ff;
    text-shadow: 1px 1px 10px #2fd2ff;
    border: 2px solid #e32fff;
    box-shadow: 5px 5px 15px -5px #e32fff;
}
.contentArticleTool{
    width: 96%;
    height: 100%;
    margin: 2%;
}
.imgToolContainer{
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 5px;
}
.imgToolContainer img{
    width: 100%;
    border-radius: 5px;
}

.articleTool:nth-child(even) .contentArticleTool .description a{
    color: #2fd2ff;
}
.articleTool:nth-child(odd) .contentArticleTool .description a{
    color: #e32fff;
}



@media (max-width: 768px) {
    body{
        width: 100vw;
    }
    .buttonMenuMobil{
        display: block;
        position: absolute;
        left: 20px;
        top: calc(50% - 15px);
        background: transparent;
        border:0px;
        height: 30px;
        width: 30px;
        padding: 0px;
        margin: 0px;
    }
    .menuMobil{
        
        position: fixed;
        width: 300px;
        height: 80vh;
        background: rgb(45, 17, 66);
        top: 65px;
        z-index: 20;
        padding-top: 20px;
        border-bottom-right-radius: 30px;
        border-right: 1px solid #cf2ee9;
        border-bottom: 1px solid #cf2ee9;
        box-shadow: 0px 0px 10px 0px #cf2ee9;
    }
    .menuMobil a{
        display: block;
        color: #2fd2ff;
        font-size: 3vb;
        margin-left: 10px;
        text-decoration: none;
        text-shadow: 0px 0px 8px #b028c7;
    }
    .header{
        width: 100vw;
        margin: 0px;
    }
    .header nav a{
        display: none;  
    }
    main{
        width: 100vw;
        margin: 0px;
    }
    h1{
        text-align: center;
    }
    .topTitle textgrad{
        text-align: center;
        font-size: 20px;
    }
    .iconsContact p{
        display: none;
    }
    .personalArticle{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .personalArticle p{
        width: 90%;
    }
    .section{
        flex-direction: column;
        
    }
    .divh2{
        width: 100vw;
        max-width: none;
        min-width: none;
    }
    .section .divh2{
        margin: 0px;
        margin-bottom: 30px;
        width: 100vw;
        flex-direction: row;
        max-width: none;
        min-width: none;
    }
    .tableTimeline{
        padding-bottom: 10vh;
        flex-direction: column;
    }
    .timeline{
        align-self: center;
    }
    .time{
        left: -90px;
        width: 80px;
        direction: rtl;
    }
    .data, .data2{
        max-width: 280px;
    }
    .containerProjects{
        margin:0px;
        margin-top: 30px;
        grid-gap: 50px;
    }
    dialog div{
        position: relative;
        top: 10vh;
        left: 1vw;
        width: 98vw;
        height: 80vh;
        background: var(--950);
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #2fd2ff;
        border-radius: 1vw;
        box-shadow: 40px -40px 80px -50px #2fd2ff, -40px 40px 80px -50px #e32fff;
    }
  }

  