:root{
    --950:#262626;
    --600:#5d5d5d;
    /*--b950: #112e5a;
    --b950T:rgba(17, 46, 90, 0.585);
    --b600:#1385ff;
    --b300:#88d8ff;
    --b300T: #88d7ff84;*/

    --b950: #451a03;
    --b900: #78340f;
    --b900T:#78340f8a;
    --b600:#d87607;
    --b300: #fbd24e;
    --b300T: #fbd24e84;
}

*{
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: balance;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #18181b;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    place-items: center;
    margin: 0px;
    padding: 0px;
    
}
.header{
    background: var(--b900T);
    backdrop-filter: blur(5px);
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 67px;
    max-height: 67px;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: end;
    flex-flow: nowrap;
    height: 63px;
    max-height: 63px;
}
nav a{
    color: var(--b600);
    text-decoration: none;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box; 
    transition: 0.2s;
}
nav a:hover{
    color: var(--b300);
    font-size: 25px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    background: var(--b950T); 
    border: 1px solid var(--b300T);
    border-radius: 20px;
}
main{
    margin-right: 10vw;
    margin-left: 10vw;
}
h1{
    font-size: 35px; 
}
.divh2{
    color: var(--b300);
    background: var(--950);
    padding: 10px;
    border-left: 5px solid var(--b300);
    border-radius: 10px;      
    margin: 0px;
    margin-right: 10px;
    min-width: 170px;
}
.divh2 h2{
    position: sticky;
    top: 75px;
}

h3{
    color: var(--b600);
    background: var(--950);
    border-left: 2px solid var(--b600);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    width: fit-content;
    margin: 0px;
}
/*textGrad{
    color: var(--b600);
    background: linear-gradient(270deg, var(--b300), var(--b600));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800; 
}*/

.topTitle{
    
}
.topTitle textgrad{
    display: block;
    font-size: 25px;
}
.personalArticle{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}
.personalArticle p{

    background: var(--950);
    padding: 20px;
    border: 1px solid var(--600);
    border-radius: 10px;
    width: 48%;
    text-wrap: pretty;
}
.section{
    display: flex;
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    box-sizing: content-box; 
}
.jobCondition{
    flex:1;
}
.activeJob{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    /*margin: 110px;
    margin-top: 10px;
    margin-bottom: 10px;*/
    /*padding: 10px;*/
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    /*background: var(--b900);
    border: 1px solid var(--b600);*/
    border-radius: 15px;
    position: relative;
    min-height: 40px;
    border: 1px solid #474748;
}
.activeJob:hover{
    background: var(--950);
}
.activeJob h4{
    text-decoration: underline var(--b600);
    margin: 5px;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 20px;
}
.activeJob details{
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}

.activeJob .title{
    text-decoration: underline var(--b600);
    font-size: 20px;
}
.activeJob .title::marker{
    color: var(--b600);
    
}
.activeJob .iconJob{
    position: absolute;
    top: 0px;
    left: -15px;
    border-radius: 70px;
    border: 1px solid var(--b600);
}
.activeJob a{
    color: var(--b600);
}
.containerIconsTechs{
    background: rgb(65, 65, 65);
    border-radius: 10px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.inactiveJob{    
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    /*margin: 110px;
    margin-top: 10px;
    margin-bottom: 10px;*/
    /*padding: 10px;*/
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    /*background: var(--950);
    border: 1px solid var(--600);*/
    border-radius: 15px;
    position: relative;
    min-height: 40px;
    border: 1px solid #474748;
}
.inactiveJob:hover{
    background: var(--950);
}
.inactiveJob h4{
    text-decoration: underline var(--600);
}
.inactiveJob details{
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}
.inactiveJob .title{
    text-decoration: underline var(--600);
    font-size: 20px;
}
.inactiveJob .title::marker{
    color: var(--600);
}

.tableTimeline{
    display: flex;
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.timeline{
    border-left: 3px solid grey;
    margin-left: 110px;
    flex:1;
}
.time{
    position: absolute;
    left: -120px;
    width: 110px;
    display: flex;
    flex-direction: row-reverse;
}
.stage{
    position: relative;
}
.item{
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 10px;
    position: absolute;
    left: -6px;
    top: 4px;
}
.data{
    margin:20px;
    margin-left: 10px;
    border-left: 2px solid var(--b600);
    border-right: 2px solid var(--b600);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
}
.data p{
    margin: 0px;
}

.navProjects{
    width: 100%;
    height: 50px;
    display: flex;
    
}
.navProjects button{
    flex:1;
    background: var(--950);
    border: 0px;
    border-left: 2px solid var(--b600);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--b600);
    font-weight: 600;
    position: relative;
}

.navProjects button:nth-child(2){
    left: -10px;
}
.navProjects button:nth-child(3){
    left: -20px;
}
.navProjects button:nth-child(4){
   
    left: -30px;
}
.navProjects button:nth-child(5){
    left: -40px;
}

.navProjects button:hover{
    background: var(--b900);
}